<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OneClickZip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
    <applicationSettings>
        <OneClickZip.Properties.Settings>
            <setting name="app_version_major" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="app_version_minor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="app_version_patch" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="app_version_revision" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="about_title" serializeAs="String">
                <value>One Click Zip 2020</value>
            </setting>
            <setting name="about_author" serializeAs="String">
                <value>by: Ryan Seth Roldan</value>
            </setting>
            <setting name="about_email" serializeAs="String">
                <value>email: 8ifp3cx5q@relay.firefox.com</value>
            </setting>
            <setting name="about_website_title" serializeAs="String">
                <value>Github Link</value>
            </setting>
            <setting name="about_website_link" serializeAs="String">
                <value>https://github.com/{0}/{1}</value>
            </setting>
            <setting name="LAST_OPENED_DIRECTORY" serializeAs="String">
                <value />
            </setting>
            <setting name="github_api_endpoint" serializeAs="String">
                <value>https://api.github.com</value>
            </setting>
            <setting name="github_api_endpoint_latest_release" serializeAs="String">
                <value>/repos/{0}/{1}/releases/latest</value>
            </setting>
            <setting name="app_organization" serializeAs="String">
                <value>AngelsSoftwareOrg</value>
            </setting>
            <setting name="app_name" serializeAs="String">
                <value>OneClickZip</value>
            </setting>
            <setting name="github_username" serializeAs="String">
                <value>angelsburger90</value>
            </setting>
            <setting name="github_access_token" serializeAs="String">
                <value>xxx_fba0a3bd40a064a_xxx</value>
            </setting>
        </OneClickZip.Properties.Settings>
    </applicationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Linq" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
